<article class="resume-timeline-item position-relative pb-5">
    <div class="resume-timeline-item-header mb-2">
        <div class="d-flex flex-column flex-md-row">
            <h3 class="resume-position-title font-weight-bold mb-1">
                {{ reference.name }}
            </h3>
        </div><!--//row-->
    </div><!--//resume-timeline-item-header-->

    <div class="resume-timeline-item-desc">
        <p>
            {{ reference.reference }}
        </p>
    </div><!--//resume-timeline-item-desc-->
</article><!--//resume-timeline-item-->
