@import 'theme/pillar-1';

.text-dark {
  color: $dark !important;
}

.bg-light {
  background-color: $light !important;
}

@media print {
  .badge {
    border: 1px solid $theme-text-color-light;
  }

  .resume-header {
    color: $dark !important;

    .name {
      color: $dark !important;
    }

    a {
      color: $dark !important;
      text-decoration: none !important;
    }
  }

  .resume-skill-item, .resume-interest-list {
    li {
      display: inline;
    }
  }

  .resume-wrapper-inner {
    box-shadow: none !important;
  }

  footer {
    display: none !important;
  }

  .page-break {
    clear: both;
    page-break-before: always;
  }
}
