# {{ resume.basics.name }}

#### {{ resume.basics.label }}

> {% for profile in resume.basics.profiles %}[{{ profile.url|replace('https://', '') }}]({{ profile.url }}){% if not loop.last %} | {% endif %}{% endfor %}
>
> {{ resume.basics.location.city }}, {{ resume.basics.location.region }} - {{ resume.basics.location.countryCode }}
>
> [{{ resume.basics.email }}](mailto:{{ resume.basics.email }})
>
> skype: lucas.mezencio
>
> {{ resume.basics.phone }}

{{ resume.basics.summary|replace("\n", '<br>')|safe }}

## {{ topics.work }}

{% for work in resume.work %}
* **[{{ work.company }}]({{ work.url }})** *{{ work.position }}* (__{{ work.startDate}} to {{ work.endDate or 'Present' }}__)

{{ work.summary|replace("\n", '<br>')|safe }}

***Technical Environment*** {{ work.highlights|join(', ') }}
{% endfor %}

------
## {{ topics.education }}

{% for education in resume.education %}
* **{{ education.studyType }} {{ 'in' if language === 'en' else 'em' }} {{ education.courses[0] }}** __{{ education.startDate }}{% if education.endDate %} - {{ education.endDate }}{% endif %}{% if not education.concluded %} (not concluded){% endif %}__

{{ education.institution }}
{% endfor %}

------
### {{ topics.skills }}

{% for skill in resume.skills %}{{ loop.index }}. *{{ skill.name }}* ({{ skill.level }})
{% endfor %}

------
### {{ topics.languages }}

{% for language in resume.languages %}{{ loop.index }}. *{{ language.name }}* ({{ language.level }})
{% endfor %}
