<div class="item">
    <h4 class="item-title d-inline-block">{{ skill.name }}</h4> <small class="badge text-bg-secondary">{{ skill.level }}</small>

    <ul class="list-unstyled resume-skills-list">
        {% for keyword in skill.keywords %}
            <li class="mb-2">{{ keyword }}</li>
        {% endfor %}
    </ul>
</div>
