<div class="item mb-3">
    <div class="item-heading row align-items-center mb-2">
        <h4 class="item-title col-12 col-md-6 col-lg-8 mb-2 mb-md-0">
            {{ work.position }}<br />
            <small class="text-body-secondary">{{ work.company }}</small>
        </h4>

        <div class="item-meta col-12 col-md-6 col-lg-4 text-body-secondary text-start text-md-end">{{ work.startDate }} - {{ work.endDate or 'Present' }}</div>
    </div>

    <div class="item-content">
        <p>
            {{ work.summary|replace("\n", '<br>')|safe }}
        </p>

        <ul class="resume-list list-inline">
            {% for technology in work.highlights %}
                <li class="list-inline-item">
                    <span class="badge text-bg-secondary">{{ technology }}</span>
                </li>
            {% endfor %}
        </ul>
    </div>
</div><!--//item-->
