{% set title = resume.basics.name + ' - Resume' %}
{% set language = 'en' %}
{% set description = resume.basics.label %}
{% set topics = {
    summary: 'Career Summary',
    work: 'Work Experience',
    reference: 'References',
    skills: 'Skills',
    education: 'Education',
    languages: 'Languages',
    interests: 'Interests'
} %}

{% extends 'base.njk' %}
