{% set resume = resume.br %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <title>{{ resume.basics.name }}</title>

    <!-- Meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Responsive Resume Template">
    <meta name="author" content="{{ resume.basics.name }}">

    <link rel="shortcut icon" href="favicon.ico">

    <!-- Google Font -->
    <link href="//fonts.googleapis.com/css?family=Roboto:300,400,500,700,900" rel="stylesheet">

    <!-- FontAwesome CSS -->
    <link rel="stylesheet" href="//use.fontawesome.com/releases/v5.2.0/css/all.css"
          integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ"
          crossorigin="anonymous">

    <!-- Theme CSS -->
    <link id="theme-style" rel="stylesheet" href="css/main.min.css">
</head>

<body>
<article class="resume-wrapper text-center position-relative">
    <div class="resume-wrapper-inner mx-auto text-left bg-white shadow-lg">
        <header class="resume-header pt-4 pt-md-0">
            <div class="media flex-column flex-md-row">
                <img class="mr-3 img-fluid picture mx-auto" src="{{ resume.basics.picture }}" alt="">

                <div class="media-body p-4 d-flex flex-column flex-md-row mx-auto mx-lg-0">
                    <div class="primary-info">
                        <h1 class="name mt-0 mb-1 text-white text-uppercase text-uppercase">
                            {{ resume.basics.name }}
                        </h1>

                        <div class="title mb-3">{{ resume.basics.label }}</div>

                        <ul class="list-unstyled">
                            <li class="mb-2">
                                <a href="#">
                                    <i class="far fa-envelope fa-fw mr-2"
                                       data-fa-transform="grow-3"></i> {{ resume.basics.email }}
                                </a>
                            </li>

                            <li>
                                <a href="#">
                                    <i class="fas fa-mobile-alt fa-fw mr-2"
                                       data-fa-transform="grow-6"></i> {{ resume.basics.phone }}
                                </a>
                            </li>
                        </ul>
                    </div><!--//primary-info-->

                    <div class="secondary-info ml-md-auto mt-2">
                        <ul class="resume-social list-unstyled">
                            {% for profile in resume.basics.profiles %}
                                {% include 'partials/profile.njk' %}
                            {% endfor %}
                        </ul>
                    </div><!--//secondary-info-->
                </div><!--//media-body-->
            </div><!--//media-->
        </header>

        <div class="resume-body p-5">
            <section class="resume-section summary-section mb-5">
                <h2 class="resume-section-title text-uppercase font-weight-bold pb-3 mb-3">Resumo</h2>

                <div class="resume-section-content">
                    <p class="mb-0">
                        {{ resume.basics.summary|replace("\n", '<br>')|safe }}
                    </p>
                </div>
            </section><!--//summary-section-->

            <div class="row">
                <div class="col-lg-9">
                    <section class="resume-section experience-section mb-5">
                        <h2 class="resume-section-title text-uppercase font-weight-bold pb-3 mb-3">
                            Experiência Profissional
                        </h2>

                        <div class="resume-section-content">
                            <div class="resume-timeline position-relative">
                                {% for work in resume.work %}
                                    {% include 'partials/timeline-content.njk' %}
                                {% endfor %}
                            </div><!--//resume-timeline-->
                        </div>
                    </section><!--//experience-section-->

                    <section class="resume-section experience-section mb-5">
                        <h2 class="resume-section-title text-uppercase font-weight-bold pb-3 mb-3">Referências</h2>

                        <div class="resume-section-content">
                            <div class="resume-timeline position-relative">
                                {% for reference in resume.references %}
                                    {% include 'partials/reference.njk' %}
                                {% endfor %}
                            </div>
                        </div>
                    </section>
                </div>

                <div class="col-lg-3">
                    <section class="resume-section skills-section mb-5">
                        <h2 class="resume-section-title text-uppercase font-weight-bold pb-3 mb-3">
                            Habilidades
                        </h2>

                        <div class="resume-section-content">
                            <div class="resume-skill-item">
                                <ul class="list-unstyled mb-4">
                                    {% for skill in resume.skills %}
                                        {% include 'partials/skill.njk' %}
                                    {% endfor %}
                                </ul>
                            </div><!--//resume-skill-item-->
                        </div><!--resume-section-content-->
                    </section><!--//skills-section-->

                    <section class="resume-section education-section mb-5">
                        <h2 class="resume-section-title text-uppercase font-weight-bold pb-3 mb-3">Educação</h2>

                        <div class="resume-section-content">
                            <ul class="list-unstyled">
                                {% for education in resume.education %}
                                    {% include 'partials/education.njk' %}
                                {% endfor %}
                            </ul>
                        </div>
                    </section><!--//education-section-->

                    <section class="resume-section language-section mb-5">
                        <h2 class="resume-section-title text-uppercase font-weight-bold pb-3 mb-3">Línguas</h2>

                        <div class="resume-section-content">
                            <ul class="list-unstyled resume-lang-list">
                                {% for language in resume.languages %}
                                    {% include 'partials/language.njk' %}
                                {% endfor %}
                            </ul>
                        </div>
                    </section><!--//language-section-->

                    <section class="resume-section interests-section mb-5">
                        <h2 class="resume-section-title text-uppercase font-weight-bold pb-3 mb-3">Interesses</h2>

                        <div class="resume-section-content">
                            <ul class="list-unstyled resume-interest-list">
                                {% for interest in resume.interests %}
                                    <li class="md-1">
                                        {{ interest.name }}
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </section><!--//interests-section-->
                </div>
            </div><!--//row-->
        </div><!--//resume-body-->
    </div>
</article>

<footer class="footer text-center pt-2 pb-5">
    <!--/* This template is released under the Creative Commons Attribution 3.0 License. Please keep the attribution link below when using for your own project. Thank you for your support. :) If you'd like to use the template without the attribution, you can buy the commercial license via our website: themes.3rdwavemedia.com */-->
    <small class="copyright">
        Designed with <i class="fas fa-heart"></i> by <a href="http://themes.3rdwavemedia.com"
                                                         target="_blank">Xiaoying Riley</a> for developers
    </small>
</footer>
</body>
</html>
