<li class="mb-2">
    <div class="resume-degree font-weight-bold">{{ education.studyType }}</div>
    <div class="resume-degree-org">{{ education.institution }}</div>
    <div class="resume-degree-time">
        {{ education.startDate }}
        {% if education.endDate %}
            - {{ education.endDate }}
        {% endif %}
    </div>
</li>
